<div>
  <button type="button" class="btn btn-success" data-mdb-ripple-init (click)="openModal()">+ Añadir</button>
</div>
<table class="table">
  <thead class="table-dark">
  <tr>
    <th scope="col">#</th>
    <th scope="col">Sintoma</th>
    <th scope="col">Diagnostico</th>
    <th scope="col">Tratamiento</th>
    <th scope="col">Fecha Vacuna</th>
    <th scope="col">Acciones</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let medicina of medicinaService.medicina; let i = index">
    <th scope="row">{{ i + 1 }}</th>
    <td [attr.contentEditable]="isEditing(i) ? true : null" class="editable-cell">{{ medicina.sintomas }}</td>
    <td [attr.contentEditable]="isEditing(i) ? true : null" class="editable-cell">{{ medicina.diagnostico }}</td>
    <td [attr.contentEditable]="isEditing(i) ? true : null" class="editable-cell">{{ medicina.tratamiento }}</td>
    <td [attr.contentEditable]="isEditing(i) ? true : null" class="editable-cell">{{ medicina.fecha_vacuna }}</td>
    <td>
      <button *ngIf="!isEditing(i)" class="btn btn-primary btn-sm" (click)="startEditing(i)">Editar</button>
      <button *ngIf="isEditing(i)" class="btn btn-success btn-sm" (click)="stopEditing()">Guardar</button>
    </td>
  </tr>
  </tbody>
</table>



<!-- Modal -->
<div class="modal fade" #exampleModal tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Añadir Medicina</h5>
        <button type="button" class="close" (click)="closeModal()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form #mediFrom = "ngForm">
          <div class="form-group">
            <label for="ganado_id">Selecciona el nombre</label>
            <select class="form-control" id="ganado_id" name="ganado_id" [(ngModel)]="ganadoService.selectedGanado.ganado_id">
              <option *ngFor="let ganado of ganadoService.ganados" [value]="ganado.ganado_id">{{ ganado.nombre_ganado }}</option>
            </select>
          </div>

          <div class="form-group">
            <label for="sintoma">Sintoma</label>
            <textarea class="form-control" id="sintoma" rows="3" name="sintomas" [ngModel]="medicinaService.selectedMedicina.sintomas" ></textarea>
          </div>
          <div class="form-group">
            <label for="diagnostico">Diagnostico</label>
            <textarea class="form-control" id="diagnostico" rows="3" name="diagnostico" [ngModel]="medicinaService.selectedMedicina.diagnostico" ></textarea>
          </div>
          <div class="form-group">
            <label for="tratamiento">Tratamiento</label>
            <textarea class="form-control" id="tratamiento" rows="3" name="tratamiento" [ngModel]="medicinaService.selectedMedicina.tratamiento"></textarea>
          </div>
          <div class="form-group">
            <label for="fecha-vacuna">Fecha Vacuna</label>
            <input type="date" class="form-control" id="fecha-vacuna" name="fecha_vacuna" [ngModel]="medicinaService.selectedMedicina.fecha_vacuna">
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" (click)="crearMedicina(mediFrom)">Guardar</button>
            <button type="button" class="btn btn-secondary" (click)="closeModal()">Cancelar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

