<div class="row">
  <div class="text-end col-lg-6 mb-1">
    <div class="row">
      <div class="col-lg-10">
        <input class="align-self-end form-control"   type="text" [(ngModel)]="textoBuscado" (keydown)="getGanadosPaginacion(textoBuscado,0,20)"  placeholder="busqueda inteligente" name="textoBuscado">
      </div>
      <div class="col-lg-2">
        <button class="btn btn-primary" (click)="getGanadosPaginacion(textoBuscado,0,20)" >Buscar</button>
      </div>
    </div>
  </div>
  <div class=" text-end col-lg-5 mb-2 ">
    <button type="button" class="btn btn-success" data-mdb-ripple-init (click)="openModal()">+ Añadir</button>
  </div>

</div>

<table class="table table-responsive">
  <thead class="table-dark">
  <tr>
    <th scope="col">#</th>
    <th scope="col">Codigo</th>
    <th scope="col">Nombre</th>
    <th scope="col">Raza</th>
    <th scope="col">Peso</th>
    <th scope="col">Sexo</th>
    <th scope="col">Tipo</th>
    <th scope="col">Fecha nacimiento</th>
    <th scope="col">Edad en meses</th>
    <th scope="col">Nombre de madre</th>
    <th scope="col">Nombre de padre</th>
    <th scope="col">Estado</th>
    <th scope="col">Acciones</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let ganado of ganadoService.ganados; let i = index ">
    <th scope="row">{{ i + 1 }}</th>
    <td >{{ ganado.codigo }}</td>
    <td >{{ ganado.nombre_ganado  }}</td>
    <td >{{ ganado.raza}}</td>
    <td >{{ ganado.peso  }}</td>
    <td  >{{ ganado.sexo }}</td>
    <td>{{ganado.tipo}}</td>
    <td >{{ ganado.fechaNacimiento}}</td>
    <td >{{ ganado.edad}}</td>
    <td *ngIf="ganado.nombre_madre !=null" >{{ ganado.nombre_madre  }}</td>
    <td *ngIf="ganado.nombre_padre !=null">{{ ganado.nombre_padre }}</td>
    <td *ngIf="ganado.nombre_madre ==null" >No tiene madre</td>
    <td *ngIf="ganado.nombre_padre ==null">No tiene padre</td>
    <td>{{ganado.estado}}</td>
    <td>
      <button  class="btn btn-primary btn-sm" (click)="openModalEdit(ganado)">Editar</button>
      <button class="btn btn-danger btn-sm" (click)="deleteGanado(ganado.ganado_id)">Eliminar</button>
    </td>
  </tr>
  </tbody>
</table>
<!-- Modal -->
<div class="modal fade" #exampleModal tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="exampleModalLabel">Añadir Ganado</h3>
        <button type="button" class="close" (click)="closeModal()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" >
        <form [formGroup]="form" (ngSubmit)="guardar($event)" novalidate>
          <div class="form-group">
            <label for="codigo">Codigo</label>
            <input type="text" class="form-control" id="codigo"  formControlName="codigo">
            <div *ngIf="form.get('codigo')?.errors && (form.get('codigo')?.dirty || form.get('codigo')?.touched)" class="alert">
              <div *ngIf="form.get('codigo')?.hasError('required')" class="text-danger">
                <b>*</b> El codigo es requerido
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="nombre_ganado">Nombre Ganado</label>
            <input type="text" class="form-control" id="nombre_ganado" formControlName="nombre_ganado"  name="nombre_ganado">
            <div *ngIf="form.get('nombre_ganado')?.errors && (form.get('nombre_ganado')?.dirty || form.get('nombre_ganado')?.touched)" class="alert">
              <div *ngIf="form.get('nombre_ganado')?.hasError('required')" class="text-danger">
                <b>*</b> El nombre es requerido
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="raza">Raza</label>
            <input type="text" class="form-control" id="raza" formControlName="raza"  name="raza">
            <div *ngIf="form.get('raza')?.errors && (form.get('raza')?.dirty || form.get('raza')?.touched)" class="alert">
              <div *ngIf="form.get('raza')?.hasError('required')" class="text-danger">
                <b>*</b> El nombre es requerido
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="peso">Peso</label>
            <input type="number" class="form-control" id="peso" formControlName="peso"  name="peso">
            <div *ngIf="form.get('peso')?.errors && (form.get('peso')?.dirty || form.get('peso')?.touched)" class="alert">
              <div *ngIf="form.get('peso')?.hasError('required')" class="text-danger">
                <b>*</b> El nombre es requerido
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="sexo">Sexo</label>
            <select class="form-control" id="sexo"  formControlName="sexo" name="sexo">
              <option>Macho</option>
              <option>Hembra</option>
            </select>
            <div *ngIf="form.get('sexo')?.errors && (form.get('sexo')?.dirty || form.get('sexo')?.touched)" class="alert">
              <div *ngIf="form.get('sexo')?.hasError('required')" class="text-danger">
                <b>*</b> El nombre es requerido
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="fechaNacimiento">Fecha Nacimiento</label>
            <input type="date" class="form-control" id="fechaNacimiento" format="dd/mm/yyyy" formControlName="fechaNacimiento" name="fechaNacimiento"  [max]="getCurrentDate()">
            <div *ngIf="form.get('fechaNacimiento')?.errors && (form.get('fechaNacimiento')?.dirty || form.get('fechaNacimiento')?.touched)" class="alert">
              <div *ngIf="form.get('fechaNacimiento')?.hasError('required')" class="text-danger">
                <b>*</b> El nombre es requerido
              </div>
            </div>
          </div>
          <!-- Selecionar el id de la madre-->
          <div class="form-group">
            <label for="ganado_madre_id">Madre</label>
            <select class="form-control" id="ganado_madre_id" formControlName="ganado_madre_id" name="ganado_madre_id">
              <option value="" disabled selected>Seleccionar</option>
              <option *ngFor="let ganado of ganadoService.ganadosVaca" value="{{ganado.ganado_id}}">{{ ganado.nombre_ganado }}</option>
            </select>
          </div>
          <!-- Selecionar el id del padre-->
          <div class="form-group">
            <label for="ganado_padre_id">Padre</label>
            <select class="form-control" formControlName="ganado_padre_id" name="ganado_padre_id" id="ganado_padre_id">
              <option value="" disabled selected>Seleccionar</option>
              <option *ngFor="let ganado of ganadoService.ganadosToro"  [value]="ganado.ganado_id">{{ ganado.nombre_ganado }}</option>
            </select>
          </div>
          <div class="modal-footer">
            <button class="btn btn-primary" type="submit" [disabled]="form.invalid" >Guardar</button>
            <button type="button" class="btn btn-secondary" (click)="closeModal()">Cerrar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Modal para editar-->
<div class="modal fade" #exampleModalEdit tabindex="-1" role="dialog" aria-labelledby="exampleModalLabelEdit" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <div class="align-self-center">
          <h3 class="modal-title" id="exampleModalLabelEdit">Actualizar ganado</h3>
        </div>
        <button type="button" class="close" (click)="closeModalEdit()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form #ganaoFromEdit ="ngForm">
          <input type="hidden" class="form-control" id="ganado_idEdit" value="{{ganado.ganado_id}}" [(ngModel)]="ganado.ganado_id" name="ganado_id">
          <div class="form-group">
            <label for="codigoEdit">Codigo</label>
            <input type="text" class="form-control" id="codigoEdit"   value="{{ganado.codigo}}"  [ngModel] = "ganado.codigo" name="codigo" >
          </div>
          <div class="form-group">
            <label for="nombreEdit">Nombre Ganado</label>
            <input type="text" class="form-control" id="nombreEdit" value="{{ganado.nombre_ganado}}" [ngModel]="ganado.nombre_ganado" name="nombre_ganado">
          </div>
          <div class="form-group">
            <label for="razaEdit">Raza</label>
            <input type="text" class="form-control" id="razaEdit" value="{{ganado.raza}}" [ngModel]="ganado.raza" name="raza">
          </div>
          <div class="form-group">
            <label for="pesoEdit">Peso</label>
            <input type="number" class="form-control" id="pesoEdit" value="{{ganado.peso}}" [ngModel]="ganado.peso" name="peso">
          </div>
          <div class="form-group">
            <label for="sexoEdit">Sexo</label>
            <select class="form-control" id="sexoEdit" [value]="ganado.sexo" (select)="ganado.sexo" [ngModel]="ganado.sexo" name="sexo">
              <option>Macho</option>
              <option>Hembra</option>
            </select>
          </div>
          <div class="form-group">
            <label for="fechaNacimientoEdit">Fecha Nacimiento</label>
            <input type="date" class="form-control" id="fechaNacimientoEdit" format="dd/mm/yyyy" [value]="ganado.fechaNacimiento" [(ngModel)]="ganado.fechaNacimiento"  name="fechaNacimiento"  [max]="getCurrentDate()">
          </div>
          <div class="form-group">
            <label for="estadoEdit">Estado</label>
            <select class="form-control" id="estadoEdit" [ngModel]="ganado.estado" [value]="ganado.estado" name="estado">
              <option>Activo</option>
              <option>Inactivo</option>
            </select>
          </div>
          <!-- Selecionar el id de la madre-->
          <div class="form-group">
            <label for="madre_idEdit">Madre</label>
            <select class="form-control" id="madre_idEdit" [value]="ganado.ganado_madre_id" (select)="ganado.ganado_madre_id" [ngModel]="ganado.ganado_madre_id" name="madre_id">
              <option *ngFor="let ganado of ganadoService.ganadosVaca"  value="{{ganado.ganado_id}}">{{ ganado.nombre_ganado }}</option>
            </select>
          </div>
          <!-- Selecionar el id del padre-->
          <div class="form-group">
            <label for="padre_idEdit">Padre</label>
            <select class="form-control" [value]="ganado.ganado_padre_id" (select)="ganado.ganado_padre_id" [ngModel]="ganado.ganado_padre_id" name="padre_id" id="padre_idEdit">
              <option *ngFor="let ganado of ganadoService.ganadosToro"  [value]="ganado.ganado_id">{{ ganado.nombre_ganado }}</option>
            </select>
          </div>
          <div class="modal-footer">
            <button class="btn btn-primary" (click)="putGanado(ganaoFromEdit,$event)">Guardar</button>
            <button type="button" class="btn btn-secondary" (click)="closeModalEdit()">Cerrar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
