<div>
  <button type="button" class="btn btn-success" data-mdb-ripple-init (click)="openModal()">+ Añadir</button>
</div>
<table class="table table-responsive">
    <thead class="table-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Codigo</th>
        <th scope="col">Nombre</th>
        <th scope="col">Raza</th>
        <th scope="col">Peso</th>
        <th scope="col">Sexo</th>
        <th scope="col">Fecha nacimiento</th>
        <th scope="col">Tipo</th>
        <th scope="col">Nombre de madre</th>
        <th scope="col">Nombre de padre</th>
        <th scope="col">Estado</th>
        <th scope="col">Acciones</th>
      </tr>
    </thead>
    <tbody>
    <tr *ngFor="let ganado of ganadoService.ganados; let i = index ">
      <th scope="row">{{ i + 1 }}</th>
      <td >{{ ganado.codigo }}</td>
      <td >{{ ganado.nombre_ganado  }}</td>
      <td >{{ ganado.raza}}</td>
      <td >{{ ganado.peso  }}</td>
      <td >{{ ganado.sexo }}</td>
      <td >{{ ganado.fechaNacimiento}}</td>
      <td >{{ ganado.tipo  }}</td>
      <td *ngIf="ganado.nombreMadre !=null" >{{ ganado.nombreMadre  }}</td>
      <td *ngIf="ganado.nombrePadre !=null">{{ ganado.nombrePadre }}</td>
      <td *ngIf="ganado.nombreMadre ==null" >No tiene madre</td>
      <td *ngIf="ganado.nombrePadre ==null">No tiene padre</td>
      <td >{{ ganado.estado }}</td>
      <td>
        <button  class="btn btn-primary btn-sm" (click)="openModalEdit(ganado)">Editar</button>
        <button class="btn btn-danger btn-sm" (click)="deleteGanado(ganado.ganado_id)">Eliminar</button>
      </td>
    </tr>
    </tbody>
  </table>

<!-- Modal -->
<div class="modal fade" #exampleModal tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="exampleModalLabel">Añadir Ganado</h3>
        <button type="button" class="close" (click)="closeModal()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form #ganadFrom ="ngForm">

          <div class="form-group">
            <label for="codigo">Codigo</label>
            <input type="text" class="form-control" id="codigo" [ngModel]="ganadoService.selectedGanado.codigo "name="codigo">
          </div>
          <div class="form-group">
            <label for="nombre">Nombre Ganado</label>
            <input type="text" class="form-control" id="nombre" [ngModel]="ganadoService.selectedGanado.nombre_ganado" name="nombre_ganado">
          </div>
          <div class="form-group">
            <label for="raza">Raza</label>
            <input type="text" class="form-control" id="raza" [ngModel]="ganadoService.selectedGanado.raza" name="raza">
          </div>
          <div class="form-group">
            <label for="peso">Peso</label>
            <input type="number" class="form-control" id="peso" [ngModel]="ganadoService.selectedGanado.peso" name="peso">
          </div>
          <div class="form-group">
            <label for="sexo">Sexo</label>
            <select class="form-control" id="sexo" [ngModel]="ganadoService.selectedGanado.sexo" name="sexo">
              <option>Macho</option>
              <option>Hembra</option>
            </select>
          </div>
          <div class="form-group">
            <label for="fechaNacimiento">Fecha Nacimiento</label>
            <input type="date" class="form-control" id="fechaNacimiento" [ngModel]="ganadoService.selectedGanado.fechaNacimiento" name="fechaNacimiento">
          </div>
          <div class="form-group">
            <label for="tipo">Seleciona el tipo</label>
            <select class="form-control" id="tipo" [ngModel]="ganadoService.selectedGanado.tipo" name="tipo">
              <option>Vaca</option>
              <option>Toro</option>
              <option>Ternero</option>
            </select>
          </div>
          <div class="form-group">
            <label for="estado">Estado</label>
            <select class="form-control" id="estado" [ngModel]="ganadoService.selectedGanado.estado" name="estado">
              <option>Activo</option>
              <option>Inactivo</option>
            </select>
          </div>
       <!-- Selecionar el id de la madre-->
          <div class="form-group">
            <label for="madre_id">Madre</label>
            <select class="form-control" id="madre_id" [ngModel]="ganadoService.selectedGanado.madre_id" name="madre_id">
              <option *ngFor="let ganado of ganadosVaca" value="{{ganado.ganado_id}}">{{ ganado.nombre_ganado }}</option>
            </select>
          </div>
          <!-- Selecionar el id del padre-->
          <div class="form-group">
            <label for="padre_id">Padre</label>
            <select class="form-control" [ngModel]="ganadoService.selectedGanado.padre_id" name="padre_id" id="padre_id">
              <option *ngFor="let ganado of ganadosToro"  [value]="ganado.ganado_id">{{ ganado.nombre_ganado }}</option>
            </select>
          </div>
          <div class="modal-footer">
            <button class="btn btn-primary" (click)="crearGanado(ganadFrom)">Guardar</button>
            <button type="button" class="btn btn-secondary" (click)="closeModal()">Cerrar</button>
          </div>
        </form>
    </div>
  </div>
  </div>
</div>

<!-- Modal para editar-->
<div class="modal fade" #exampleModalEdit tabindex="-1" role="dialog" aria-labelledby="exampleModalLabelEdit" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <div class="align-self-center">
          <h3 class="modal-title" id="exampleModalLabelEdit">Actualizar ganado</h3>
        </div>
        <button type="button" class="close" (click)="closeModalEdit()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form #ganaoFromEdit ="ngForm">
          <input type="hidden" class="form-control" id="ganado_idEdit" value="{{ganado.ganado_id}}" [(ngModel)]="ganado.ganado_id" name="ganado_id">
          <div class="form-group">
            <label for="codigoEdit">Codigo</label>
            <input type="text" class="form-control" id="codigoEdit"   value="{{ganado.codigo}}"  [(ngModel)] = "ganado.codigo" name="codigo" >
          </div>
          <div class="form-group">
            <label for="nombreEdit">Nombre Ganado</label>
            <input type="text" class="form-control" id="nombreEdit" value="{{ganado.nombre_ganado}}" [ngModel]="ganado.nombre_ganado" name="nombre_ganado">
          </div>
          <div class="form-group">
            <label for="razaEdit">Raza</label>
            <input type="text" class="form-control" id="razaEdit" value="{{ganado.raza}}" [ngModel]="ganado.raza" name="raza">
          </div>
          <div class="form-group">
            <label for="pesoEdit">Peso</label>
            <input type="number" class="form-control" id="pesoEdit" value="{{ganado.peso}}" [ngModel]="ganado.peso" name="peso">
          </div>
          <div class="form-group">
            <label for="sexoEdit">Sexo</label>
            <select class="form-control" id="sexoEdit" [value]="ganado.sexo" (select)="ganado.sexo" [ngModel]="ganado.sexo" name="sexo">
              <option>Macho</option>
              <option>Hembra</option>
            </select>
          </div>
          <div class="form-group">
            <label for="fechaNacimientoEdit">Fecha Nacimiento</label>
            <input type="date" class="form-control" id="fechaNacimientoEdit" [value]="ganado.fechaNacimiento" [(ngModel)]="ganado.fechaNacimiento"  name="fechaNacimiento">
          </div>
          <div class="form-group">
            <label for="tipoEdit">Seleciona el tipo</label>
            <select class="form-control" id="tipoEdit" (select)="ganado.tipo" [value]="ganado.tipo" [ngModel]="ganado.tipo"  name="tipo">
              <option>Vaca</option>
              <option>Toro</option>
              <option>Ternero</option>
            </select>
          </div>
          <div class="form-group">
            <label for="estadoEdit">Estado</label>
            <select class="form-control" id="estadoEdit" [ngModel]="ganado.estado" [value]="ganado.estado" name="estado">
              <option>Activo</option>
              <option>Inactivo</option>
            </select>
          </div>
          <!-- Selecionar el id de la madre-->
          <div class="form-group">
            <label for="madre_idEdit">Madre</label>
            <select class="form-control" id="madre_idEdit" [value]="ganado.madre_id" (select)="ganado.madre_id" [ngModel]="ganado.madre_id" name="madre_id">
              <option *ngFor="let ganado of ganadosVaca"  value="{{ganado.ganado_id}}">{{ ganado.nombre_ganado }}</option>
            </select>
          </div>
          <!-- Selecionar el id del padre-->
          <div class="form-group">
            <label for="padre_idEdit">Padre</label>
            <select class="form-control" [value]="ganado.padre_id" (select)="ganado.padre_id" [ngModel]="ganado.padre_id" name="padre_id" id="padre_idEdit">
              <option *ngFor="let ganado of ganadosToro"  [value]="ganado.ganado_id">{{ ganado.nombre_ganado }}</option>
            </select>
          </div>
          <div class="modal-footer">
            <button class="btn btn-primary" (click)="putGanado(ganaoFromEdit)">Guardar</button>
            <button type="button" class="btn btn-secondary" (click)="closeModalEdit()">Cerrar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

