<div>
  <button type="button" class="btn btn-success" data-mdb-ripple-init (click)="openModal()">+Añadir</button>
</div>
<table class="table">
  <thead class="table-dark">
  <tr>
    <th scope="col">#</th>
    <th scope="col">Nombre Ganado</th>
    <th scope="col">Nombre producto</th>
    <th scope="col">Cantidad</th>
    <th scope="col">Fecha</th>
    <th scope="col">Acciones</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let alimentacion of alimentacionService.alimentacion; let i = index">
    <th scope="row">{{ i + 1 }}</th>
    <td>{{ alimentacion.nombre_ganado }}</td>
    <td>{{ alimentacion.nombre_suplemento }}</td>
    <td>{{ alimentacion.cantidad_suplemento }}</td>
    <td>{{ alimentacion.fecha_alimentacion }}</td>
    <td>
    <button class="btn btn-primary btn-sm" (click)="openModalEdit(alimentacion)">Editar</button>
    <button class="btn btn-danger btn-sm" (click)="deleteAlimentacion(alimentacion.alimentacion_id)">Eliminar</button>
    </td>
  </tr>
  </tbody>
</table>


<!-- Modal -->
<div class="modal fade" #exampleModal tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Añadir Alimento</h5>
        <button type="button" class="close" (click)="closeModal()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="form" (ngSubmit)="guardar($event)" novalidate>
          <div class="form-group">
            <label for="ganado_id">Selecciona el nombre</label>
            <select class="form-control" id="ganado_id" formControlName="ganado_id">
              <option *ngFor="let ganado of ganadoService.ganados" [value]="ganado.ganado_id">{{ ganado.nombre_ganado }}</option>
            </select>
          </div>
          <div class="form-group">
            <label for="nombre_suplemento">Seleciona el suplemento</label>
            <input type="text" class="form-control" id="nombre_suplemento" formControlName="nombre_suplemento" required>
            <!-- Mostrar el mensaje de error para el control ganado -->
            <div *ngIf="form.get('id')?.errors && (form.get('id')?.dirty || form.get('id')?.touched)" class="alert">
              <div *ngIf="form.get('id')?.hasError('required')" class="text-danger">
                <b>*</b> El ganado es requerido
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="cantidad_suplemento">Cantidad</label>
            <input type="number" class="form-control" id="cantidad_suplemento" formControlName="cantidad_suplemento" required>
          </div>
          <div class="form-group">
            <label for="fecha_alimentacion">Fecha</label>
            <input type="date" class="form-control" id="fecha_alimentacion" formControlName="fecha_alimentacion" format="dd/mm/yyyy" name="fecha_alimentacion" [max]="getCurrentDate()">
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-primary">Guardar</button>
            <button type="button" class="btn btn-secondary" (click)="closeModal()">Cancelar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- Modal para editar-->
<div class="modal fade" #exampleModalEdit tabindex="-1" role="dialog" aria-labelledby="exampleModalLabelEdit" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <div class="align-self-center">
          <h3 class="modal-title" id="exampleModalLabelEdit">Actualizar alimentacion</h3>
        </div>
        <button type="button" class="close" (click)="closeModalEdit()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form #ganaoFromEdit ="ngForm">
          <input type="hidden" class="form-control" id="ganado_id" value="{{alimentacion.alimentacion_id}}" [(ngModel)]="alimentacion.alimentacion_id" name="alimentacion_id">
          <div class="form-group">
            <label for="nombreGanadoEdit">Nombre Ganado</label>
            <select class="form-control" id="nombreGanadoEdit" [value]="alimentacion.nombre_ganado" (select)="alimentacion.ganado_id" [ngModel]="alimentacion.nombre_ganado" name="ganado_id">
              <option *ngFor="let ganado of ganadoService.ganados" [value]="ganado.ganado_id">{{ ganado.nombre_ganado }}</option>
            </select>
          </div>
          <div class="form-group">
            <label for="nombre_suplementoEdit">Nombre producto</label>
            <select class="form-control" id="nombre_suplementoEdit" [value]="alimentacion.nombre_suplemento" (select)="alimentacion.nombre_suplemento" [ngModel]="alimentacion.nombre_suplemento" name="nombre_suplemento">
              <option *ngFor="let producto of productoMongoService.productos" [value]="producto.nombreproducto">{{ producto.nombreproducto }}</option>
            </select>
          </div>
          <div class="form-group">
            <label for="cantidad_suplementoEdit">Cantidad Suplemento</label>
            <input type="number" class="form-control" id="cantidad_suplementoEdit" value="{{alimentacion.cantidad_suplemento}}" [ngModel]="alimentacion.cantidad_suplemento" name="cantidad_suplemento">
          </div>
          <div class="form-group">
            <label for="fecha_alimentacionEdit">Fecha Alimentacion</label>
            <input type="date" class="form-control" id="fecha_alimentacionEdit" format="dd/mm/yyyy" value="{{alimentacion.fecha_alimentacion}}" [ngModel]="alimentacion.fecha_alimentacion"  name="fecha_alimentacion"  [max]="getCurrentDate()">
          </div>
          <div class="form-group">
            <label>Creado: {{alimentacion.creado | date:'short'}}</label>
          </div>
          <div class="form-group">
            <label>Actualizado: {{alimentacion.modificado | date:'short'}}</label>
          </div>
          <div class="modal-footer">
            <button class="btn btn-primary" (click)="putAlimentacion(ganaoFromEdit,$event)">Guardar</button>
            <button type="button" class="btn btn-secondary" (click)="closeModalEdit()">Cerrar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Modal Editar -->
<div class="modal fade" #exampleModalEdit tabindex="-1" role="dialog" aria-labelledby="exampleModalEdit" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalEdit">Editar Alimento</h5>
        <button type="button" class="close" (click)="closeModalEdit()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form #alimentacionFromEdit ="ngForm">
          <div class="form-group">
            <input type="hidden"  id="alimentacion_id" [value]="alimentacion.alimentacion_id" [ngModel]="alimentacion.alimentacion_id"  name="alimentacion_id">
            <label for="ganado_idEdit">Selecciona el nombre</label>
            <select class="form-control" id="ganado_idEdit" (select)="alimentacion.ganado_id" [ngModel]="alimentacion.ganado_id" [value]="alimentacion.ganado_id"  name="ganado_id">
              <option *ngFor="let ganado of ganadoService.ganados" [value]="ganado.ganado_id" >{{ ganado.nombre_ganado }}</option>
            </select>
            <!-- Mostrar el mensaje de error para el control ganado -->
            <div *ngIf="formEdit.get('ganado_id')?.errors && (formEdit.get('ganado_id')?.dirty || formEdit.get('ganado_id')?.touched)" class="alert">
              <div *ngIf="formEdit.get('ganado_id')?.hasError('required')" class="text-danger">
                <b>*</b> El ganado es requerido
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="nombre_suplemento2">Seleciona el suplemento</label>
            <select class="form-control" id="nombre_suplemento2"  (select)="alimentacion.nombre_suplemento" [ngModel]="alimentacion.nombre_suplemento" name="nombre_suplemento">
              <option *ngFor="let producto of productoMongoService.productos" [value]="producto.nombreproducto">{{ producto.nombreproducto }}</option>
            </select>
            <!-- Mostrar el mensaje de error para el control ganado -->
            <div *ngIf="formEdit.get('id')?.errors && (formEdit.get('id')?.dirty || formEdit.get('id')?.touched)" class="alert">
              <div *ng if="formEdit.get('id')?.hasError('required')" class="text-danger">
                <b>*</b> El ganado es requerido
                </div>
            </div>
            </div>
            <div class="form-group">
              <label for="cantidad_suplemento2">Cantidad</label>
              <input type="number" class="form-control" id="cantidad_suplemento2"  [value]="alimentacion.cantidad_suplemento" [(ngModel)]="alimentacion.cantidad_suplemento" name="cantidad_suplemento" required>
            </div>
          <div class="form-group">
          <div class="form-group">
              <label for="fecha_alimentacion2">Fecha</label>
              <input type="date" class="form-control" id="fecha_alimentacion2" [value]="alimentacion.fecha_alimentacion" [(ngModel)]="alimentacion.fecha_alimentacion" name="fecha_alimentacion" format="dd/mm/yyyy" [max]="getCurrentDate()">
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-primary" (click)="putAlimentacion(alimentacionFromEdit,$event)">Guardar</button>
            <button type="button" class="btn btn-secondary" (click)="closeModalEdit()">Cancelar</button>
          </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>


