.btn-success{
  margin: 8px;
  float: right;
}
.editable-cell {
  max-width: 200px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.btn-success {
  background-color: #28a745;
  border-color: #28a745;
}

