<div class="row">
  <div class="text-end col-lg-6 mb-1">
    <div class="row">
      <div class="col-lg-10">
        <input class="align-self-end form-control" type="text" placeholder="Búsqueda inteligente" [(ngModel)]="textoBusqueda">
      </div>
      <div class="col-lg-2">
        <button class="btn btn-primary">Buscar</button>
      </div>
    </div>
  </div>
  <div class="text-end col-lg-5 mb-2">
    <button type="button" class="btn btn-success" data-mdb-ripple-init (click)="openModal()">+ Añadir</button>
  </div>
</div>

<table class="table table-responsive">
  <thead class="table-dark">
  <tr>
    <th scope="col">#</th>
    <th scope="col">Codigo Ganado</th>
    <th scope="col">Nombre Ganado</th>
    <th scope="col">Síntoma</th>
    <th scope="col">Diagnóstico</th>
    <th scope="col">Tratamiento</th>
    <th scope="col">Fecha Vacuna</th>
    <th scope="col">Estado</th>
    <th scope="col">Acciones</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let medicina of medicinaService.medicinas; let i = index">
    <th scope="row">{{ i + 1 }}</th>
    <td>{{ medicina.codigoGanado}}</td>
    <td>{{ medicina.nombreGanado}}</td>
    <td>{{ medicina.sintomas }}</td>
    <td>{{ medicina.diagnostico }}</td>
    <td>{{ medicina.tratamiento }}</td>
    <td>{{ medicina.fecha_vacuna }}</td>
    <td>{{ medicina.estado }}</td>
    <td>
      <button class="btn btn-primary btn-sm" (click)="openModalEdit(medicina)">Editar</button>
      <button class="btn btn-danger btn-sm" (click)="deleteMedicina(medicina.medicina_id)">Eliminar</button>
    </td>
  </tr>
  </tbody>
</table>

<!-- Modal -->
<div class="modal fade" #exampleModal tabindex="-1" role="dialog" aria-labelledby="exampleModal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModal">Añadir Medicina</h5>
        <button type="button" class="close" (click)="closeModal()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="form" (ngSubmit)="guardar($event)" novalidate>
          <div class="form-group">
            <label for="ganado_id">Selecciona el nombre</label>
            <select class="form-control" id="ganado_id" formControlName="ganado_id">
              <option *ngFor="let ganado of ganadoService.ganados" [value]="ganado.ganado_id">{{ ganado.nombre_ganado }}</option>
            </select>
            <!-- Mostrar el mensaje de error para el control ganado -->
            <div *ngIf="form.get('ganado_id')?.errors && (form.get('ganado_id')?.dirty || form.get('ganado_id')?.touched)" class="alert">
              <div *ngIf="form.get('ganado_id')?.hasError('required')" class="text-danger">
                <b>*</b> El ganado es requerido
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="sintomas">Sintoma</label>
            <textarea class="form-control" id="sintomas" rows="3" formControlName="sintomas" required></textarea>
            <div *ngIf="form.get('sintomas')?.errors && (form.get('sintomas')?.dirty || form.get('sintomas')?.touched)" class="alert">
              <div *ngIf="form.get('sintomas')?.hasError('required')" class="text-danger">
                <b>*</b> El sintoma es requerido
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="diagnostico">Diagnostico</label>
            <textarea class="form-control" id="diagnostico" rows="3" formControlName="diagnostico"></textarea>
            <div *ngIf="form.get('diagnostico')?.errors && (form.get('diagnostico')?.dirty || form.get('diagnostico')?.touched)" class="alert">
              <div *ngIf="form.get('diagnostico')?.hasError('required')" class="text-danger">
                <b>*</b> El diagnostico es requerido
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="tratamiento">Tratamiento</label>
            <textarea class="form-control" id="tratamiento" rows="3" formControlName="tratamiento"></textarea>
            <div *ngIf="form.get('tratamiento')?.errors && (form.get('tratamiento')?.dirty || form.get('tratamiento')?.touched)" class="alert">
              <div *ngIf="form.get('tratamiento')?.hasError('required')" class="text-danger">
                <b>*</b> El tratamiento es requerido
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="fecha_vacuna">Fecha Vacuna</label>
            <input type="date" class="form-control" id="fecha_vacuna" formControlName="fecha_vacuna" format="dd/mm/yyyy" name="fecha_vacuna" [max]="getCurrentDate()">
            <div *ngIf="form.get('fecha_vacuna')?.errors && (form.get('fecha_vacuna')?.dirty || form.get('fecha_vacuna')?.touched)" class="alert">
              <div *ngIf="form.get('fecha_vacuna')?.hasError('required')" class="text-danger">
                <b>*</b> El fecha_vacuna es requerido
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-primary">Guardar</button>
            <button type="button" class="btn btn-secondary" (click)="closeModal()">Cancelar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- Modal para editar-->
<div class="modal fade" #exampleModalEdit tabindex="-1" role="dialog" aria-labelledby="exampleModalEdit" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <div class="align-self-center">
          <h3 class="modal-title" id="exampleModalEdit">Actualizar Medicina</h3>
        </div>
        <button type="button" class="close" (click)="closeModalEdit()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form #medicinaFromEdit ="ngForm">
          <input type="hidden" class="form-control" id="medicina_idEdit" value="{{medicina.medicina_id}}" [(ngModel)]="medicina.medicina_id" name="medicina_id">

          <div class="form-group">
            <label for="nombreGanadoEdit">Nombre Ganado</label>
            <select class="form-control" id="nombreGanadoEdit" [value]="medicina.ganado_id" (select)="medicina.ganado_id" [ngModel]="medicina.nombreGanado" name="ganado_id">
              <option *ngFor="let ganado of ganadoService.ganados" [value]="ganado.ganado_id">{{ ganado.nombre_ganado }}</option>
            </select>
          </div>
          <div class="form-group">
            <label for="sintomasEdit">Sintomas</label>
            <input type="text" class="form-control" id="sintomasEdit"   value="{{medicina.sintomas}}"  [ngModel] = "medicina.sintomas" name="sintomas" >
          </div>
          <div class="form-group">
            <label for="diagnosticoEdit">diagnostico</label>
            <input type="text" class="form-control" id="diagnosticoEdit" value="{{medicina.diagnostico}}" [ngModel]="medicina.diagnostico" name="diagnostico">
          </div>
          <div class="form-group">
            <label for="tratamientoEdit">Tratamiento</label>
            <input type="text" class="form-control" id="tratamientoEdit" value="{{medicina.tratamiento}}" [ngModel]="medicina.tratamiento" name="tratamiento">
          </div>

          <div class="form-group">
            <label for="fecha_vacunaEdit">Fecha Nacimiento</label>
            <input type="date" class="form-control" id="fecha_vacunaEdit" format="dd/mm/yyyy" [value]="medicina.fecha_vacuna" [ngModel]="medicina.fecha_vacuna"  name="fecha_vacuna"  [max]="getCurrentDate()">
          </div>
          <div class="form-group">
            <label>Creado: {{medicina.creado | date:'short'}}</label>
          </div>
          <div class="form-group">
            <label>Actualizado: {{medicina.modificado | date:'short'}}</label>
          </div>
          <div class="modal-footer">
            <button class="btn btn-primary" (click)="putMedicina(medicinaFromEdit,$event)">Guardar</button>
            <button type="button" class="btn btn-secondary" (click)="closeModalEdit()">Cerrar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
