<div class="row">
  <div class="text-end col-lg-6 mb-1">
    <div class="row">
      <div class="col-lg-10">
        <input class="align-self-end form-control"  type="text" placeholder="busqueda inteligente" name="textoBusquedo">
      </div>
      <div class="col-lg-2">
        <button class="btn btn-primary" >Buscar</button>
      </div>
    </div>
  </div>
  <div class=" text-end col-lg-5 mb-2 ">
    <button type="button" class="btn btn-success" data-mdb-ripple-init (click)="openModal()">+ Añadir</button>
  </div>
</div>
  <table class="table">
    <thead class="table-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nombre Producto</th>
      <th scope="col">Unidad Medida</th>
      <th scope="col">Marca</th>
      <th scope="col">Tipo de producto</th>
      <th scope="col">Fecha Vencimiento</th>
      <th scope="col">Acciones</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let producto of productoMongoService.productos; let i = index">
      <th scope="row">{{ i + 1 }}</th>
      <td>{{ producto.nombreproducto }}</td>
      <td>{{ producto.unidad_medida }}</td>
      <td>{{ producto.marca }}</td>
      <td>{{ producto.tipo_producto }}</td>
      <td>{{ producto.fecha_vencimiento }}</td>
      <td>
        <button class="btn btn-primary btn-sm" (click)="openModalEdit(producto)">Editar</button>
        <button class="btn btn-danger btn-sm" (click)="deleteProductos(producto.id)">Eliminar</button>
      </td>
    </tr>
    </tbody>
  </table>

  <!-- Modal -->
  <div class="modal fade" #exampleModal tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Añadir Alimento</h5>
          <button type="button" class="close" (click)="closeModal()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form [formGroup]="form" (ngSubmit)="guardar($event)" novalidate>
            <div class="form-group">
              <label for="nombreproducto">Nombre</label>
              <input type="text" class="form-control" id="nombreproducto" formControlName="nombreproducto" required>

            </div>
            <div class="form-group">
              <label for="unidad_medida">Seleciona la unidad</label>
              <select class="form-control" id="unidad_medida" formControlName="unidad_medida">
                <option>Litros</option>
                <option>Kg</option>
              </select>
            </div>
            <div class="form-group">
              <label for="marca">Marca</label>
              <input type="text" class="form-control" id="marca" formControlName="marca" required>
            </div>
            <div class="form-group">
              <label for="tipo_producto">Tipo de producto</label>
              <select class="form-control" id="tipo_producto" formControlName="tipo_producto">
                <option>Tipo 1</option>
                <option>Tipo 2</option>
              </select>
            </div>
            <div class="form-group">
              <label for="fecha_vencimiento">Fecha Vencimiento</label>
              <input type="date" class="form-control" id="fecha_vencimiento" formControlName="fecha_vencimiento" format="dd/mm/yyyy" name="fecha_vencimiento" [max]="getCurrentDate()">
            </div>
            <div class="modal-footer">
              <button type="submit" class="btn btn-primary">Guardar</button>
              <button type="button" class="btn btn-secondary" (click)="closeModal()">Cancelar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

