<div class="row">
  <div class="text-end col-lg-6 mb-1">
    <div class="row">
      <div class="col-lg-10">
        <input class="align-self-end form-control"  type="text" placeholder="busqueda inteligente" name="textoBusquedo">
      </div>
      <div class="col-lg-2">
        <button class="btn btn-primary" >Buscar</button>
      </div>
    </div>
  </div>
  <div class=" text-end col-lg-5 mb-2 ">
    <button type="button" class="btn btn-success" data-mdb-ripple-init >+ Añadir</button>
  </div>
  <table class="table">
    <thead class="table-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nombre Producto</th>
      <th scope="col">Unidad Medida</th>
      <th scope="col">Marca</th>
      <th scope="col">Tipo de producto</th>
      <th scope="col">Fecha Vencimiento</th>
      <th scope="col">Acciones</th>
    </tr>
    </thead>
    <tbody>
    <!--<tr let i = index">
       <th scope="row">{{ i + 1 }}</th>
      <td>{{ areas.codigoGanado}}</td>
      <td>{{ areas.nombreGanado}}</td>
      <td>{{ areas.nombreArea  }}</td>
      <td>{{ areas.tipoArea  }}</td>
      <td>{{ areas.tipoPasto  }}</td>
      <td>{{ areas.superficie }}</td>
      <td>{{ areas.ganado_id }}</td>
      <td>
        <button class="btn btn-primary btn-sm" >Editar</button>
        <button class="btn btn-danger btn-sm" >Eliminar</button>
      </td>
    </tr>-->
    </tbody>
  </table>
</div>

