<div class="row">
  <div class="text-end col-lg-6 mb-1">
    <div class="row">
      <div class="col-lg-10">
        <input class="align-self-end form-control"  type="text" placeholder="busqueda inteligente" name="textoBusquedo">
      </div>
      <div class="col-lg-2">
        <button class="btn btn-primary" >Buscar</button>
      </div>
    </div>
  </div>
  <div class=" text-end col-lg-5 mb-2 ">
    <button type="button" class="btn btn-success" data-mdb-ripple-init (click)="openModal()">+ Añadir</button>
  </div>
<table class="table">
  <thead class="table-dark">
  <tr>
    <th scope="col">#</th>
    <th scope="col">Codigo Ganado</th>
    <th scope="col">Nombre Ganado</th>
    <th scope="col">Nombre Area</th>
    <th scope="col">Tipo de terreno</th>
    <th scope="col">Tipo de pasto</th>
    <th scope="col">Superficie</th>
    <th scope="col">Acciones</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let areas of areaService.areas; let i = index">
    <th scope="row">{{ i + 1 }}</th>
    <td>{{ areas.codigoGanado}}</td>
    <td>{{ areas.nombreGanado}}</td>
    <td>{{ areas.nombreArea  }}</td>
    <td>{{ areas.tipoArea  }}</td>
    <td>{{ areas.tipoPasto  }}</td>
    <td>{{ areas.superficie }}</td>

    <td>
      <button class="btn btn-primary btn-sm" (click)="openModalEdit(areas)">Editar</button>
      <button class="btn btn-danger btn-sm" (click)="deleteArea(areas.areaId)">Eliminar</button>
    </td>
  </tr>
  </tbody>
</table>


<!-- Modal -->
<div class="modal fade" #exampleModal tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Añadir Area</h5>
        <button type="button" class="close" (click)="closeModal()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="form" (ngSubmit)="guardar($event)" novalidate>
          <div class="form-group">
            <label for="ganadoId">Selecciona el nombre</label>
            <select class="form-control" id="ganadoId" formControlName="ganadoId">
              <option *ngFor="let ganado of ganadoService.ganados" [value]="ganado.ganado_id">{{ ganado.nombre_ganado }}</option>
            </select>
            <!-- Mostrar el mensaje de error para el control ganado -->
            <div *ngIf="form.get('ganadoId')?.errors && (form.get('ganadoId')?.dirty || form.get('ganadoId')?.touched)" class="alert">
              <div *ngIf="form.get('ganadoId')?.hasError('required')" class="text-danger">
                <b>*</b> El ganado es requerido
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="nombreArea">Nombre Area</label>
            <input type="text" class="form-control" id="nombreArea" formControlName="nombreArea">
          </div>

          <div class="form-group">
            <label for="tipoArea">Tipo de terreno</label>
            <select class="form-control" id="tipoArea" formControlName="tipoArea">
              <option selected >Selecciona</option>
              <option value="plano">Plano</option>
              <option value="laderoso">Laderoso</option>
              <option value="montanoso">Montañoso</option>
            </select>
          </div>

          <div class="form-group">
            <label for="tipoPasto">Tipo de pasto</label>
            <select class="form-control" id="tipoPasto" formControlName="tipoPasto">
              <option value="pastoMiel">PastoMiel</option>
              <option value="brizante">Brizante</option>
            </select>
          </div>
          <div class="form-group">
            <label for="superficie">Superficie</label>
            <input type="text" class="form-control" id="superficie" formControlName="superficie">
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-primary">Guardar</button>
            <button type="button" class="btn btn-secondary" (click)="closeModal()">Cancelar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
 </div>
</div>

<!-- Modal para editar -->
<div class="modal fade" #exampleModalEdit tabindex="-1" role="dialog" aria-labelledby="exampleModalLabelEdit" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabelEdit">Editar Área</h5>
        <button type="button" class="close" (click)="closeModalEdit()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form #areaFromEdit ="ngForm">
          <input type="hidden" class="form-control" id="areaIdEdit" value="{{area.areaId}}" [(ngModel)]="area.areaId" name="areaId">
          <div class="form-group">
            <label for="nombreGanadoEdit">Nombre Ganado</label>
            <select class="form-control" id="nombreGanadoEdit" [value]="area.ganado_id" (select)="area.ganado_id" [ngModel]="area.nombreGanado" name="ganado_id">
              <option *ngFor="let ganado of ganadoService.ganados" [value]="ganado.ganado_id">{{ ganado.nombre_ganado }}</option>
            </select>
          </div>

          <div class="form-group">
            <label for="nombreAreaEdit">Nombre Área</label>
            <input type="text" class="form-control" id="nombreAreaEdit" value="{{area.nombreArea}}" [ngModel]="area.nombreArea" name="nombreArea">
          </div>

          <div class="form-group">
            <label for="tipoAreaEdit">Tipo de área</label>
            <select class="form-control" id="tipoAreaEdit" value="{{area.tipoArea}}" [ngModel]="area.tipoArea" name="tipoArea">
              <option>Plano</option>
              <option>Laderoso</option>
              <option>Montañoso</option>
            </select>
          </div>

          <div class="form-group">
            <label for="tipoPastoEdit">Tipo de pasto</label>
            <select class="form-control" id="tipoPastoEdit" value="{{area.tipoPasto}}" [ngModel]="area.tipoPasto" name="tipoPasto">
              <option>PastoMiel</option>
              <option>Brizante</option>
            </select>
          </div>
          <div class="form-group">
            <label for="superficieEdit">Superficie</label>
            <input type="text" class="form-control" id="superficieEdit" value="{{area.superficie}}" [ngModel]="area.superficie" name="superficie">
          </div>

          <div class="modal-footer">
            <button type="submit" class="btn btn-primary" (click)="putArea(areaFromEdit,$event)">Guardar Cambios</button>
            <button type="button" class="btn btn-secondary" (click)="closeModalEdit()">Cancelar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
