
<div>
  <button type="button" class="btn btn-success" data-mdb-ripple-init (click)="openModal()">+ Añadir</button>
</div>
<table class="table">
  <thead class="table-dark">
  <tr>
    <th scope="col">#</th>
    <th scope="col">Nombre</th>
    <th scope="col">Tipo de terreno</th>
    <th scope="col">Tipo de pasto</th>
    <th scope="col">Superficie</th>
    <th scope="col">Asignacion</th>
    <th scope="col">Acciones</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let areas of areaService.areas; let i = index">
    <th scope="row">{{ i + 1 }}</th>
    <td hidden="hidden">{{ areas.areaId  }}</td>
    <td [attr.contentEditable]="isEditing(i) ? true : null" class="editable-cell">{{ areas.nombreArea  }}</td>
    <td [attr.contentEditable]="isEditing(i) ? true : null" class="editable-cell">{{ areas.tipoArea  }}</td>
    <td [attr.contentEditable]="isEditing(i) ? true : null" class="editable-cell">{{ areas.tipoPasto  }}</td>
    <td [attr.contentEditable]="isEditing(i) ? true : null" class="editable-cell">{{ areas.superficie }}</td>
    <td [attr.contentEditable]="isEditing(i) ? true : null" class="editable-cell">{{ areas.ganado_id }}</td>

    <td>
      <button *ngIf="!isEditing(i)" class="btn btn-primary btn-sm" (click)="startEditing(i)">Editar</button>
      <button *ngIf="isEditing(i)" class="btn btn-success btn-sm" (click)=" stopEditing()">Guardar</button>

    </td>
    <td>
      <a
        (click)="deleteArea(areas.areaId)"
        style="cursor: pointer"
      ><i class="material-icons">delete</i></a
      >
    </td>
  </tr>
  </tbody>
</table>



<!-- Modal -->
<div class="modal fade" #exampleModal tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Añadir Area</h5>
        <button type="button" class="close" (click)="closeModal()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form #areaForm="ngForm">
          <div class="form-group">
            <label >Nombre</label>

            <input type="text" class="form-control" id="nombre" [ngModel]="areaService.selectedArea.nombreArea" name="nombreArea">
          </div>

          <div class="form-group">
            <label>Tipo de terreno</label>
            <select class="form-control" id="tipoArea" [ngModel]="areaService.selectedArea.tipoArea" name="tipoArea">
              <option selected >Selecciona</option>
              <option value="plano">Plano</option>
              <option value="laderoso">Laderoso</option>
              <option value="montanoso">Montañoso</option>
            </select>
          </div>

          <div class="form-group">
            <label>Tipo de pasto</label>
            <select class="form-control" id="tipoPasto" [ngModel]="areaService.selectedArea.tipoPasto" name="tipoPasto">
              <option value="pastomiel">pastomiel</option>
              <option value="tundilla">tundilla</option>
              <option value="picuyo">picuyo</option>
            </select>
          </div>
          <div class="form-group">
            <label >Superficie</label>
            <input type="text" class="form-control" id="superficie" [ngModel]="areaService.selectedArea.superficie" name="superficie">
          </div>
          <div class="form-group">
            <label >ID GANADO</label>
            <input type="text" class="form-control" id="ganado_id" [ngModel]="areaService.selectedArea.ganado_id" name="ganado_id">
          </div>

        </form>

      </div>
      <div class="modal-footer">
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">
            Cancelar
          </button>
          <button class="btn btn-primary" (click)="crearArea(areaForm)">Guardar</button>
        </div>

      </div>
    </div>
  </div>
</div>
